# Python cache/object code
__pycache__/
*.py[cod]

# compiled Qt translations
*.qm

MKVRessources_rc.py
ui_MKVExtractorQt5.py
MKVExtractorQt5-standalone.py
tmp*

# editor and backup stuff
*~
*.log
*.old
.*.kate-swp
.swp.*

# Quilt working directory
.pc/

# Windows crap
Thumbs.db
ehthumbs.db
Desktop.ini

# OSX crap
.DS_Store
.AppleDouble
.LSOverride
._*

# Linux and KDE crap
.fuse_hidden*
.directory

