/.pc/
autom4te.cache/

/mkv-extractor-qt-subptools/aclocal.m4
/mkv-extractor-qt-subptools/autoscan.log
/mkv-extractor-qt-subptools/compile
/mkv-extractor-qt-subptools/configure
/mkv-extractor-qt-subptools/depcomp
/mkv-extractor-qt-subptools/install-sh
/mkv-extractor-qt-subptools/Makefile.in
/mkv-extractor-qt-subptools/missing

*~

*.pyc
*.qm
configure.scan

MKVRessources_rc.py
ui_MKVExtractorQt.py
/mkv-extractor-qt*/licence

# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
