[Desktop Entry]
Type=Application
Name=MKV Extractor Qt5
GenericName=MKV demuxer
GenericName[de]=MKV-Demuxer
GenericName[fr]=Démultiplexeur de MKV
Comment=Extract tracks from mkv files
Comment[de]=Extrahiere Spuren aus MKV-Dateien
Comment[fr]=Extracteur de piste depuis des fichiers mkv
TryExec=mkv-extractor-qt5
Exec=mkv-extractor-qt5 %U
Icon=mkv-extractor-qt5
Categories=AudioVideo;AudioVideoEditing;
Terminal=false
StartupNotify=true
MimeType=video/x-matroska;audio/x-matroska;application/x-matroska;video/x-mastroska-3d;audio/webm;video/webm;
