#!/usr/bin/make -f


%:
	dh ${@} --parallel --with python3

override_dh_auto_build:
	#cd $(CURDIR)/mkv-extractor-qt && ./build.sh
	cd $(CURDIR)/mkv-extractor-qt-oldpython && ./build.sh

	autoreconf -ivf mkv-extractor-qt-subptools
	dh_auto_configure -Dmkv-extractor-qt-subptools
	dh_auto_build -Dmkv-extractor-qt-subptools
	mv mkv-extractor-qt-subptools/subp2pgm mkv-extractor-qt-subptools/subp2tiff

override_dh_auto_clean:
	dh_auto_clean -Dmkv-extractor-qt-subptools
	rm -f mkv-extractor-qt-subptools/subp2tiff
	$(CURDIR)/mkv-extractor-qt/clean.sh
	$(CURDIR)/mkv-extractor-qt-oldpython/clean.sh

override_dh_compress:
	dh_compress
	gzip -f9 debian/mkv-extractor-qt-subptools/usr/share/doc/*/*.1

override_dh_builddeb:
	dh_builddeb -- -Zxz -z9
