[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=MKV Extractor Qt
GenericName=MKV demuxer
GenericName[de]=MKV-Demuxer
GenericName[fr]=Démultiplexeur de MKV
Comment=Extract tracks from mkv files
Comment[de]=Extrahiere Spuren aus MKV-Dateien
Comment[fr]=Extracteur de piste depuis des fichiers mkv
Exec=mkv-extractor-qt %U
Icon=mkv-extractor-qt
Categories=AudioVideo;AudioVideoEditing;
Terminal=false
StartupNotify=true
MimeType=video/x-matroska;audio/x-matroska;audio/x-matroska;application/x-matroska;video/x-mastroska-3d;audio/webm;video/webm
