Source: mkv-extractor-qt
Maintainer: Terence Belleguic <hizo@free.fr>
Build-Depends:
 debhelper (>= 9),
 pyqt4-dev-tools,
 python3 (>= 3.4.0),
 qt4-linguist-tools
Standards-Version: 3.9.6
Priority: standard
Section: video

Package: mkv-extractor-qt
Architecture: all
Depends:
 ${misc:Depends},
 mkvtoolnix,
 ${python3:Depends},
 python3-pyqt4,
 python-support (>= 0.90)
Recommends:
 libav-tools | ffmpeg,
 mkclean,
 tesseract-ocr,
 tesseract-ocr-fra,
 mkvalidator,
 subptools | ogmrip
Homepage: http://forum.ubuntu-fr.org/viewtopic.php?id=1508741
Description: Graphical mkv demultiplexer
 Features:
  * DTS to AC3 conversion via ffmpeg
  * Automatic conversion from SUB to SRT via tesseract
  * Read and extract joined files
  * Extract and remux tracks
  * And more again
