Source: mkv-extractor-qt5
Priority: standard
Section: video
Maintainer: Terence Belleguic <hizo@free.fr>
Uploaders: Marshall Banana <djcj@gmx.de>
Build-Depends:
 debhelper (>= 9),
 pyqt5-dev-tools,
 python3 (>= 3.4.0),
 python-scour,
 qttools5-dev-tools
Standards-Version: 3.9.8
Homepage: http://forum.ubuntu-fr.org/viewtopic.php?id=1508741

Package: mkv-extractor-qt5
Architecture: all
Depends:
 ${misc:Depends},
 ${python3:Depends},
 python3-pyqt5,
 mkvtoolnix
Suggests:
 libav-tools | ffmpeg,
 mkclean,
 qtesseract5,
 mkvalidator
Description: Graphical mkv demultiplexer
 Features:
  * DTS to AC3 conversion via ffmpeg
  * Automatic conversion from SUB to SRT via tesseract
  * Read and extract joined files
  * Extract and remux tracks
  * And more again
