#!/usr/bin/make -f


%:
	dh ${@}

override_dh_auto_build:
	# Lancement de l'executable creant de fichiers à jours
	cd $(CURDIR)/mkv-extractor-qt && ./build.sh
	#cd $(CURDIR)/mkv-extractor-qt-oldpython && ./build.sh

	autoreconf -ivf mkv-extractor-qt-subptools
	cd mkv-extractor-qt-subptools && ./configure
	cd mkv-extractor-qt-subptools && $(MAKE)
	mv mkv-extractor-qt-subptools/subp2pgm mkv-extractor-qt-subptools/subp2tiff

override_dh_clean:
	# Nettoyage des fichiers suivants avant la creation d'un paquet source
	dh_clean -- mkv-extractor-qt-subptools/subp2tiff
	$(CURDIR)/mkv-extractor-qt/clean.sh
	$(CURDIR)/mkv-extractor-qt-oldpython/clean.sh

override_dh_compress:
	dh_compress
	gzip -f9 debian/mkv-extractor-qt-subptools/usr/share/doc/*/*.1

override_dh_builddeb:
	# Compression du dossier data du paquet debian
	dh_builddeb -- -Zxz -z9
