Source: mkv-extractor-qt-subptools
Maintainer: Christian Marillat <marillat@debian.org>
Uploaders:
 Terence Belleguic <hizo@free.fr>,
 Marshall Banana <djcj@gmx.de>
Build-Depends:
 debhelper (>= 9),
 dh-autoreconf,
 pkg-config,
 libxml2-dev,
 libtiff-dev,
 libpng12-dev,
 zlib1g-dev
Standards-Version: 3.9.5
Priority: standard
Section: video

Package: mkv-extractor-qt-subptools
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 mkv-extractor-qt
Description: Addon for mkv-extractor-qt
 Subrip tools
