Source: subptools
Maintainer: Terence Belleguic <hizo@free.fr>
Build-Depends:
 debhelper (>= 9),
 dh-autoreconf,
 libxml2-dev,
 libtiff-dev,
 libpng12-dev,
 pkg-config,
 zlib1g-dev
Standards-Version: 3.9.5
Priority: standard
Section: video

Package: subptools
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends}
Recommends: mkv-extractor-qt
Conflicts: ogmrip
Description: convert SUB to SRT subtitles
 Subrip tools, required for conversion from SUB to SRT.
 The tools were copied from the ogmrip package.
