#!/usr/bin/make -f


%:
	dh ${@} --parallel --with autoreconf

override_dh_auto_build:
	dh_auto_build
	mv subp2pgm subp2tiff

override_dh_auto_install:


override_dh_clean:
	dh_clean -- subp2tiff

override_dh_builddeb:
	dh_builddeb -- -Zxz -z9
